.btn.btn-underline::before{
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);

    transform: scalex(0);
}



.btn.btn-underline::hover::before,
.btn.btn-border-underline::focus::before{

    transform: scale(1);
}
















